<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Calendar App Vanilla JS</title>

    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="stylesheet" href="week.css">
  </head>
  <body>
    <div id = "head">
    <div id="container">
      <div id="header">
        <div id="monthDisplay"></div>
        <div>
        </div>
      </div>

      <div id="weekdays">
        <div class="day">Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
      </div>

      <div id="calendar"></div>

    </div>
 <section> 
        <div class="events">
            <ul></ul>
        </div>
    </section>
  </div>

   

    <script src="week.js"></script>
  </body>
</html>
