.flex {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.flex-item {
  width: 60%;
  display: flex;
  flex-flow: row;
}

#dateDisplay {
  display: block;
  /* width: 770px; */
  margin-bottom: 50px;
}

.flex-sub-item {
  border: 1px solid white;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  align-items: center;
}

.cursor {
  cursor: pointer;
}

.task {
  grid-auto-columns: 1000px;
}

.hide {
  display: none;
}

.top {
  display: flex;
  /* width: 100%; */
  justify-content: space-around;
}

.dragDel {
  color: white;
}
.hovered {
  color: red;
}

.no-data {
  display: none;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.edit-modal {
  position: relative;
  background: white;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bolder;
  cursor: pointer;
}

body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #000000;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: block;
  justify-content: space-between;
}
#header button {
  background-color: #92a1d1;
}
#container {
  width: 100%;
}

.hidden {
  display: none;
}

.side {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.filterTeacher {
  left: -100px;
}

.filter {
  display: flex;
  flex-flow: column;
  line-height: 50px;
}

.dropdown {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.drop {
  position: relative;
  left: 30px;
  top: 15px;
  width: 100px;
  height: 20px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  padding: 10px 35px 35px 35px;
  border-radius: 40px;
  background: #ffffff;
}

button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.modal label {
  font-size: 20px;
}

.modal title {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}

.modal fields {
  width: 100%;
  padding: 75px 5px 5px 5px;
}
.modal fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  color: rgb(241, 15, 15);
  right: 0;
  bottom: 0;
  background-color: rgba(94, 89, 98, 0.659);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.allbtn {
  display: flex;
  flex-flow: column;
}
.allbtn button {
  margin: 10px;
}

.add_schedule form {
  display: flex;
  flex-flow: column;
}

.add_schedule button {
  margin-top: 10px;
  width: 100%;
}
